<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://10.200.2.28;databaseName=mgiebu;integratedSecurity=false;encrypt=false;trustServerCertificate=true</property>
        <property name="connection.username">stud</property>
        <property name="connection.password">wsiz</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Student"/>
        <mapping class="Enrollment"/>
    </session-factory>
</hibernate-configuration>